.todo-block {
    .input-group-text {
        padding: 0;
        margin-right: 0.5rem;

        .form-check-input {
            width: 2.3em;
            height: 2.3em;
            margin: 0;
            box-shadow: none;
        }
    }
}